
/* Contadores */
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}

/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores{
	text-align: center;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	margin:20px;
}

/* Tapetes */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 340px;
	height: 340px;
	background-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background-color: lightblue;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: lightgreen;
}

/* Ventana de victoria + confeti */
#ventanaVictoria {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
	border: 3px solid red;

}
.confeti {
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    animation: confeti 3s ease-out infinite;

}

@keyframes confeti {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(500px) rotate(360deg);
    }
}

