/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

/* Contenido de la página centrado */
div.central {
	max-width: 1000px;
	margin: auto;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores {
	max-width: 800px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa {
	text-align: center;
	margin: 20px;
	background-image: url('../imagenes/tapete.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/**************** Tapetes ***************/
div.tapete {
	display: inline-block;
	position: relative;
	margin: 10px;
}
div.tapete#inicial {
	width: 340px;
	height: 340px;
}
div.tapete:not(#inicial) {
	height: 125px;
	width: 100px;
}
div.tapete#sobrantes {
	background-color: lightblue;
}

div.tapete.receptor {
	background-color: lightgreen;
}

div.tapetes_inferiores div{
	border: 1px solid rgb(3, 54, 3);
	border-radius: 5px;
}
/*****************************************/

/* Cartas */
.carta {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 50px;
	height: 75px;
}

/* Contadores de las cartas*/
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
	height: fit-content;
	width: fit-content;
}

/********* Efectos cartas **********/
#carta:hover {
	transition: transform 0.3s ease;
	transform: scale(1.1)
}

#carta:hover, #carta:not(:hover) {
	transition: transform 0.3s ease;
}

#inicial img {
	margin-top: 30px;
}
/***********************************/

/* Ventana de victoria*/
#ventanaVictoria {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Confeti */
#confeti {
	display: none;
	position: fixed;
	margin: auto;
	z-index: 3;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

/* Botón de reset */
#reset {
	width: 200px;
	height: 50px;
	font-size: 25px;
	background-color: darkred;
	margin-left: 10px;
	z-index: 4;
}

/* Botón de reset */
#contador_inicial {
	background-color: white;
	border-radius: 50%;
	padding: 5px;
}

/* Podio que sólo se verá en pantallas grandes*/
	#podio {
		opacity: 0;
		transition: none;
	}

/* Para móviles y pantallas pequeñas */
@media only screen and (max-width: 700px) {
	html, body {
		padding: 0;
		margin: 0;
	}

	#mesa {
		position: relative;
	}

	div#mesa {
		background-position: top;
		margin: auto;
		max-width: 550px;
	}

	#marcadores {
		padding: 10px;
	}

	div.tapete:not(#inicial) {
		height: 100px;
		width: 75px;
		margin: 15px;
	}

	div.tapete#sobrantes {
		background-color: lightblue;
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 60px;
		margin-top: 50px;
	}

	div.tapete:not(#inicial) img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.contador:not(#contador_inicial) {
		position: absolute;
		top: 0;
		left: 3px;
	}

	#reset {
		display: block;
		margin: auto;
		margin-top: 30px;
	}

	#podio {
		display: none;
	}

  }

@media only screen and (min-width: 1600px) {
	#podio{
		display: flex;
		position: absolute;
		border: 4px solid red;
		border-style: outset;
		background-color: lightgreen;
		border-radius: 10px;
		padding: 10px;
		font-size: large;
		justify-content: center;
		min-width: 400px;
		top: 0;
		margin: 50px;
		opacity: 1;
		transition: all 3s ease;
	}
	#podio th, #podio td {
		padding: 10px;
	}

	#podio td {
		font-style: italic;
		text-align: left;
	}

	.podiotxt {
		text-align: center;
		font-family: fantasy;
		font-size: xx-large;
	}
}